html {
  line-height: 1.4; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  font-family: Helvetica Neue, Helvetica, san-serif;
  margin: 0;
  font-size: 1.1rem;
}

main {
  max-width: 25em;
  margin: 0 auto 0;
  padding: 1em 1em 1em 2em;
}

.banner {
  display: inline-block;
  background-color: rgb(234, 239, 247);
  padding: 8px;
  border-radius: 14px;
  /* color: white; */
  text-decoration: none;
  margin-bottom: 28px;
}

@media (min-width: 40rem) {
  body {
    font-size: 1.5rem;
  }

  main {
    margin-top: 3em;
  }
}

img {
  border-style: none;
}

#logo {
  max-width: 192px;
  border-radius: 48px;
}

h1 {
  font-size: 2.25em;
  margin: 0.5em 0 0;
}

h2 {
  font-size: 1.5em;
  margin: 0;
}

h3 {
  margin: 1.5em 0 .125em;
}

h3 span {
  margin-left: -1.45em;
}

h4 {
  margin: 0;
}

p, ul {
  margin: .25em 0 .5em;
  padding: 0;
}

ul {
  list-style-position: outside;
  list-style-type: square;
}

li {
  margin: .25em 0;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

.button {
  display: inline-block;
  text-decoration: none;
  background-color: #3333ff;
  color: white;
  padding: .75em 1.5em;
  margin: .75em 0;
  border-radius: 5rem;
  border-bottom: 3px solid #000099;
}

.button:hover {
  background-color: #000099;
  border-bottom: 3px solid #003399: 
}

footer {
  font-size: 1rem;
}